/* -------------------------------------------------
* Start: Declare Defaul and custome Css
---------------------------------------------------*/
body{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.brand-color{
    color: #f44336;
}
.my-btn{
    color: #fff;
    background-image: linear-gradient(#ff7065, #fb2415);
}
.my-btn:hover{
    color: #fff;
    background-image: linear-gradient(#ff6357, #e81001);
}
.my-btn:focus {
    color: #fff;
    background-image: linear-gradient(#ff6357, #e81001);
}
/* -------------------------------------------------
* End: Declare Defaul and custome Css
---------------------------------------------------*/

/* -------------------------------------------------
* Start: Overide Bootstrap Css
---------------------------------------------------*/
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(244 67 54 / .25);
}
/* -------------------------------------------------
* Start: Overide Bootstrap Css
---------------------------------------------------*/

/* -------------------------------------------------
* Start: Navigation Section
---------------------------------------------------*/
.logo{
    max-width: 125px;
    height: auto;
}
/* -------------------------------------------------
* End: Navigation Section
---------------------------------------------------*/

/* -------------------------------------------------
* Start: Slider Section
---------------------------------------------------*/
.slider-content h2{
    font-size: 63px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
/* -------------------------------------------------
* End: Slider Section
---------------------------------------------------*/


/* -------------------------------------------------
* Start: Product Section
---------------------------------------------------*/
.product-section{
    padding: 50px 0px;
}
.product-section-heading h2{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.product-section-content{}
.product-section-content h5{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-section-content p{
    margin-bottom: 20px;
}
.product-section-content span{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    color: #f44336;
}
/* -------------------------------------------------
* End: Product Section
---------------------------------------------------*/

/* -------------------------------------------------
* Start: info Section
---------------------------------------------------*/
.info-section{
    padding: 30px 0px;
}
.info-content{
    margin-left: 12px;
}
.info-content h5{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
/* -------------------------------------------------
* End: info Section
---------------------------------------------------*/

/* -------------------------------------------------
* Start: footer Section
---------------------------------------------------*/
footer{
    text-align: center;
    padding: 40px 0;
}
footer p{
    font-weight: 600;
}
footer a{
    color: #f44336;
    text-decoration: none;
    font-weight: 900;
}
footer a:hover{
    color: #f44336;
}
/* -------------------------------------------------
* End: footer Section
---------------------------------------------------*/